/* PAGE BACKGROUND */
.login-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #061a44, #1b0036);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
}

/* GLASS CARD */
.login-card {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

/* LEFT PANEL */
.login-left {
  flex: 1;
  padding: 50px;
  color: #fff;
  background: linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.6)
    ),
    url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
}

.brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.login-left h1 {
  margin-top: 80px;
  font-size: 40px;
}

.login-left p {
  margin-top: 10px;
  opacity: 0.9;
}

.socials {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}

.socials span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* RIGHT PANEL */
.login-right {
  flex: 1;
  padding: 60px 50px;
  color: white;
}

.login-right h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.login-right input {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  color: white;
  font-size: 16px;
}

.login-right input::placeholder {
  color: rgba(255,255,255,0.7);
}

/* OPTIONS */
.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 30px;
}

.link {
  cursor: pointer;
  color: #ff4d6d;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff416c, #ff4d6d);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  opacity: 0.9;
}

/* SIGNUP */
.signup {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-card {
    flex-direction: column;
    height: auto;
  }

  .login-left {
    height: 250px;
  }
}